@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */

/*Je höher die Duration desto länger dauert die gesamte Animation bis der Hoover-Effekt vollendet ist und je höher der
Delay ist desto länger muss ich mit meiner Maus draufbleiben bis etwas passiert bzw. der Effekt eintritt*/

.btn {
    transition-property: padding;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: linear;


    &.ease-in {
        /*übergang mit mit langsamen start*/
        transition-timing-function: step-start;
    }

    &.ease-out {
        /*übergang mit mit langsamen ende*/
        transition-timing-function: step-end;
    }

    &.ease-in-out {
        /*übergang mit mit langsamen start &  ende*/
        transition-timing-function: ease;
    }

    &.green {
        /*  all     -->     feld füllt sich mit farbe und wird zugleich größer
            color   -->     feld ist sofort in der farbe und vergrößert
            padding -->     feld wird langsam größer ist aber schon mit farbe gefüllt

            bei allen 3 ändert sich die schrift-farbe von schwarz-->weiß
         */
        transition-property: color;
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

/*fährt man mit der Maus über den body, tritt der effekt ein.*/
body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}

/*Eigene animation, die von:         links-oben      -->     rechts-oben     -->     rechts-unten        -->     links-unten     geht.*/
/*FRAGE:    warum geht der Button über den Bildschirmrand, wenn man 100% übergibt??
*/
@keyframes myanimation2 {
    0%   { left:0px; top:0px;}
    25%  { left:90%; top:0px;}
    50%  { left:90%; top:90%;}
    75%  { left:0px; top:90%;}
    100% { left:0px; top:0px;}

}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

