@import "compass/reset";
@import "compass/css3";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family:'Open Sans', sans-serif;
}
/*Aufgabe1:
*/
        /*Man kann die main.scss auf 2 verschiedene Arten aktualisieren
            1.  Durch eingabe von folgenden Befehl in die Konsole:  compass compile --output-style
            2.  Durch eingabe von folgenden Befehl in die Konsole:  compass watch

            ändert man nun den output-style in :expanded or :nested or :compact or :compressed, ändert sich dabei die main.css struktur.
            diese wird dabei kombrimiert! (bei :compressed fallen die Leerzeichen weg und alles wird in eine Wurscht geschrieben.

            FRAGE:

            Wann macht eine Vererbung Sinn??
        */


/*line 19, color attributes ../sass/main.scss */
$border-color-black: #000;
$border-color-white: #d3d3d3;
$background-color-white:#fafafa;
$error-color: #d9534f;
$warning-color: #f0ad4e;
$success-color: #5cb85c;



/*Line 29 mixins, Transition-properties ../sass/main.scss*/
@mixin transition
{
    transition-property: width;
    transition-delay: 0ms;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}



.passwordField {
    width:300px;
    float:left;
        label {
            margin-left:5px;
        }
        input[type="text"],input[type="password"] {
            border:1px solid $border-color-black;
            padding:5px;
            margin:10px 5px 10px 5px;
            width: 180px;
        }

        input[type="submit"] {
            border:1px solid $border-color-black;
            margin:10px 5px 10px 5px;
            border-radius:0;
            background-color:$background-color-white;
            cursor:pointer;
        }
}

.passwordFeedback {
    width:250px;
    float:left;

        .strengthIndicator {
            margin:10px 5px 10px 5px;
            width: 200px;
            padding:5px;
            height: 13px;
            border:1px solid $border-color-white;
            &::before{
                content: "";
                display: block;
                height: 100%;
                @include transition;
            }
        }
        .feedback {
            margin:10px 5px 10px 5px;
            font-size:11px;
            font-weight:600;
        }

        &.feedback.error {                  /*wan verwendet man ein & Zeichen?*/
            color:$error-color;
        }

        .feedback.warning {
            color:$warning-color;
        }

        .feedback.success {
            color:$success-color;
        }
}



.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $error-color;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $warning-color;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $success-color;
}




.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    display: block;
}

.success .feedback.success {
    display: block;
}

